{% extends 'base.html' %}

{% block title %}Certificate Generator{% endblock %}

{% block header %}Certificate Generator{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mb-4">About Problem Statement</h1>
  <p>As an administrator, I want a Dynamic Certificate Generator to efficiently create and customize certificates for various achievements and events. This will enable me to streamline the certificate generation process, providing tailored and professional certificates promptly.</p>

  <div>
    <h3>Team name: 404NotFound</h3>
    <ul>
      <li>Ankit Pal</li>
      <li>Abhishek Mishra</li>
      <li>Neha Tiwari</li>
    </ul>
  </div>
  
</div>
{% endblock %}